name: Note App - CI / CD

on: 

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    name: Build Application
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v4  

      - name: Defining Node version
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Building Application
        run: |
          npm run build
  
  security-scan:
    name: Security Scan (Trivy)
    needs: build
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies (IMPORTANT)
        run: npm ci
      
      - name: Cache Trivy DB
        uses: actions/cache@v4
        with:
          path: ~/.cache/trivy
          key: trivy-db-${{ runner.os }}
          restore-keys: |
            trivy-db-

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          severity: 'HIGH,CRITICAL'
          format: 'table'
          exit-code: '1'


  docker-build-push-ecr:
    needs: security-scan
    runs-on: ubuntu-latest
    steps:

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          docker build --no-cache \
          -t ${{ secrets.AWS_ECR_REPO }}/${{ secrets.AWS_ECR_REPO_NAME }}:${{ github.sha }} .

      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ${{ secrets.AWS_ECR_REPO }}/${{ secrets.AWS_ECR_REPO_NAME }}:${{ github.sha }}
          severity: "HIGH,CRITICAL"
          ignorefile: .trivyignore
          ignore-unfixed: true
          format: "table"
          exit-code: "0"

      - name: Push Image to ECR
        run: |
          docker push \
          ${{ secrets.AWS_ECR_REPO }}/${{ secrets.AWS_ECR_REPO_NAME }}:${{ github.sha }}

  deploy-ec2:
    name: Deploy to EC2
    needs: docker-build-push-ecr
    runs-on: ubuntu-latest
    steps:

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1  
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }} 
          script: |
           docker stop note-app || true
           docker rm note-app || true

           aws ecr get-login-password --region ap-south-1 | \
           docker login --username AWS --password-stdin \
           ${{ secrets.AWS_ECR_REPO }}

           docker pull ${{ secrets.AWS_ECR_REPO }}/${{ secrets.AWS_ECR_REPO_NAME }}:${{ github.sha }}

           docker run -d \
            --name note-app \
            --restart always \
            -p 4000:3000 \
            ${{ secrets.AWS_ECR_REPO }}/${{ secrets.AWS_ECR_REPO_NAME }}:${{ github.sha }}