name: CI/CD - Docker, Trivy, ECR & EC2

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

  build-scan-push:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.AWS_ECR_REPOSITORY }}:latest .

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.AWS_ECR_REPOSITORY }}:latest
          severity: HIGH,CRITICAL
          exit-code: 1
          run: |
            rm -rf /tmp/trivy-cache

      - name: Push to ECR
        run: |
          docker push ${{ secrets.AWS_ECR_REPOSITORY }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-scan-push
    steps:
      - name: Deploy to EC2 vi SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.AWS_EC2_HOST }}
          username: ${{ secrets.AWS_EC2_USER }}
          key: ${{ secrets.AWS_EC2_SSH_KEY }}
          port: 22
          script: |
            docker pull ${{ secrets.AWS_ECR_REPOSITORY }}:latest
            docker stop note-web || true
            docker rm note-web || true
            docker run -d --name note-web --restart=always -p 4000:3000 \
              ${{ secrets.AWS_ECR_REPOSITORY }}:latest
