name: CI/CD - Using Docker, Trivy, ECR & EC2

on: 
  push:
     branches: [ "main" ]
jobs:
  Test-repo:
    runs-on: ubuntu-latest
    steps:
       - name: Testing Repository
         uses: actions/checkout@v4
  login-ECR-and-build-image:
    runs-on: ubuntu-latest
    needs: Test-repo
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          
      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2
        
      - name: Build Image on AWS ECR
        run: |
          docker build --no-cache --file Dockerfile -t ${{ secrets.AWS_ECR_REPOSITORY }}:latest  .
          
  Trivy-scan-and-push-image:
    runs-on: ubuntu-latest
    needs: login-ECR-and-build-image
    steps:
      - name: AWS ECR Login
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          
      - name: Scanning vulnerabilities
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.AWS_ECR_REPOSITORY }}:latest
          severity: "HIGH,CRITICAL"
          exit-code: '1'
        env:
          TRIVY_CLEAR_CACHE: "true"
      
      - name: Push image to AWS ECR
        run: |
          docker push ${{ secrets.AWS_ECR_REPOSITORY }}:latest

  Deploy-on-EC2:
    runs-on: ubuntu-latest
    needs: Trivy-scan-and-push-image
    steps:
      - name: AWS EC2
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          
      - name: Deploying on AWS EC2 
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.AWS_EC2_HOST }}
          username: ${{ secrets.AWS_EC2_USER }}
          key: ${{ secrets.AWS_EC2_SSH_KEY }}
          script: | 
            docker pull ${{ secrets.AWS_ECR_REPOSITORY }}:latest
            docker stop note-web || true
            docker rm note-web || true
            docker run -d --name note-web --restart=always -p 4000:3000 \
              ${{ secrets.AWS_ECR_REPOSITORY }}:latest
