name: Integration Node Note App - CI

on: 

  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4  
      - name: Install & Building Node
        run: |
          npm run build




